body {
    font-family: 'Times New Roman', Times, serif;
}

.margin {
    margin: 5%;
    display: block;
    border: 1px solid #888888c9;
    padding: 50px;
    font-family: 'Times New Roman';
    color: rgb(0, 0, 0);
    line-height: 20px;
}

.title2 {
    font-size: 15px;
    color: #006EB6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

hr {
    margin-top: -1.5%;
    height: 1px;
    width: 70%;
    border-width: 0;
    background-color: #cccccc;
}

.title1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 40px;
}

.logo {
    max-width: 15%;
    display: block;
    margin: 0 auto;
}

main {
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

p1 {
    font-style: italic;
}

.list {
    margin-left: 3%;
}

.dark-mode {
    background-color: rgb(71, 71, 71);
    color: white;
}

.dark-mode h2 {
    color: #a0d4ed;
}