

body {
    font-family: 'Times New Roman', Times, serif;
}

.margin {
    margin: 5%;
    display: block;
    border: 1px solid #888888c9;
    padding: 50px;
    font-family: 'Times New Roman';
}
.title2 {
    font-size:15px;
    color:#006EB6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
hr {
    margin-top: -1.5%;
    height:1px;
    width: 70%;
    border-width:0;
    background-color:#cccccc
}
h3 {
    font-weight: 150;
}
.title1 {
    size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1 {
    font-size: 40px;
}
.logo {
    max-width:15%;
    display: block;
    margin: 0 auto;
}
main {
    padding: 50px 50px 50px 120px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20;
}
p1 {
    font-style: italic;
}

.list{
    margin-left: 3%;
}